<div class="container">
  <br>
  <h4 class="titulo-cadastro">Cadastrar Produto - Disney Store</h4>
  <p>Cadastre os novos produtos da Disney para a venda.</p>

  <form action="/cadastrar" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Produto:</label>
      <input type="text" class="form-control input-lilas" id="nome" name="nome">
    </div>
    
    <div class="mb-3">
      <label for="preco" class="form-label">Preço:</label>
      <input type="number" class="form-control input-lilas" id="preco" name="preco" step="0.01">
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria:</label>
      <input type="text" class="form-control input-lilas" id="categoria" name="categoria">
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição:</label>
      <textarea class="form-control input-lilas" id="descricao" name="descricao" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
      <label for="imagem" class="form-label">Imagem do Produto:</label>
      <input type="file" class="form-control" id="imagem" name="imagem">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
  </form>
</div>
